/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  font-family: sans-serif;
  background-color: #222222;
  color: #FFFFFF;
}

h1 {
  display: none;
}

#overlayArea {
  position: absolute;
}

#overlayArea:-moz-system-metric(touch-enabled) {
  font-size: 3mozmm;
}

#overlayArea input[type="button"]:-moz-system-metric(touch-enabled),
#overlayArea select:-moz-system-metric(touch-enabled) {
  font-size: 3mozmm;
}

#settings {
  display: none;
  background-color: rgba(255, 255, 255, .8);
  color: #000000;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
}

#settings > legend {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 3px;
}

#mainArea {
  text-align: center;
  margin: 1em 0;
}

#mbrotImage {
  background-color: #444444;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 10px;
  }
}
